# Entornos virtuales
venv/
env/
__pycache__/

# Secretos y variables de entorno
.env

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# 🛑 Basura de Experimentación (NO SUBIR A PRODUCCIÓN)
mlflow.db
mlruns/
*.ipynb
.pytest_cache/

# 🛑 Datos crudos (Ignorar toda la carpeta data excepto los modelos)
data/*
!data/models/
# (Si tu modelo está suelto en otra carpeta, ajusta la ruta de arriba)